* {
  padding: 0;
  margin: 0;
}
.app {
  margin: 0 100px;
}
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
.ant-menu-item-icon {
  font-weight: 800 !important;
  line-height: 24px !important;
  font-size: 20px !important;
  color: rgb(15, 20, 25) !important;
}
.auth {
  width: 21%;
  margin: 8% 38%;
}
.auth__link {
  margin-bottom: 15px;
}
.auth__params {
  text-align: center;
}

.ant-layout {
  background: none;
}
